header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 clamp(10px, 4vw, 30px);
  position: fixed;
  overflow: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  height: clamp(50px, 8vw, 60px);
  border-radius: 10px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}

header::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: rgb(255, 255, 255);
  opacity: 0.8;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header > * {
  position: relative;
  z-index: 1;
}

header:hover::before {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.header-logo {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.header-first-column,
.header-third-column {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

.header-first-column {
  justify-self: start;
  grid-column-start: 1;
}

.header-second-column {
  justify-self: center;
  grid-column-start: 2;
}

.header-third-column {
  justify-self: end;
  grid-column-start: 3;
}

.header-logo {
  width: clamp(40px, 5vw, 60px);
}

.header-text {
  display: flex;
  flex-direction: column;
  font-family: CalSans;
  font-size: clamp(12px, 2vw, 18px);
}

.header-ul {
  display: flex;
  font-family: Roboto;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  gap: clamp(10px, 2vw, 25px);
  color: #888;
}

.header-ul li {
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease;
}


.header-ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #80ff00,
    #ff0000,
    #6a00ff
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header-ul li:hover {
  color: #222;
}

.header-ul li:hover::after {
  transform: scaleX(1);
}

@media (max-width: 640px) {
  .header-ul {
    display: none;
  }

  .header-menu-button {
    display: flex;
  }
}
